<h1>Quotes ({{ quotes_dict|length }})</h1>
<div class="table-responsive-xl">
<table class="table">
    <thead>
        <tr>
            <th scope="col">Filesystem</th>
        </tr>
    </thead>
    {% for q in quotes_dict|sort %}
    <tbody>
        <tr class="fs_header">
            <td colspan="2">{{ q }} ({{ quotes_dict[q]|length }})</td>
        </tr>
            {% for f in quotes_dict[q] %}
            <tr>
                <td><a> {{ f }} </a></td>
            </tr>
            {% endfor %}
    </tbody>
    {% endfor %}
</table>
</div>
