<h2>BITSdb Users ({{ users|length }})</h2>

<p><a class="btn btn-primary" href="/admin/users/add"
    role="button">Add User</a> </p>

<div class="table-responsive">
    <table class="table">
        <tr>
            <th>Email</th>
            <!-- <th>User ID</th> -->
            <th>Role</th>
            <!-- <th>Disabled</th> -->
            <th>Actions</th>
        </tr>
        {% for user in users|sort(attribute="email") %}
        {% if user.admin %}{% set color = "table-default" %}{% endif %}
        {% if user.disabled %}{% set color = "table-danger" %}{% endif %}
        <tr class="{{ color }}">
            <td>
                <a href="/admin/users/{{ user.id }}">{{ user.email }}</a><br>
                <small class="text-muted">ID: {{ user.id }}</small>
            </td>
            <!-- <td>{{ user.id }}</td> -->
            <td>{{ "admin" if user.admin else "user" }}</td>
            <!-- <td>{{ user.disabled if user.disabled }}</td> -->
            <td>
                <!-- Edit User -->
                <a class="btn btn-primary"
                    href="/admin/users/{{ user.id }}" role="button">Edit</a>

                <!-- Delete User -->
                <a class="btn btn-danger"
                    href="/admin/users/{{ user.id }}/delete" role="button">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
